* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #222222;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.h1MainPage {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.insideBrandOne {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.menuFlex {
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: space-between;
}

.menuBoxL {
  display: flex;
  align-items: center;
}

/* Menu__Top__Styles */

a {
  text-decoration: none;
}

.h3_Foot_F {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 28px;
}

.h3_Foot_F_RE {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 21px;
}

.p_Foot_F {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  margin-top: 16px;
  width: 360px;
  opacity: 0.8;
}

.menu {
  width: 232px;
  height: 763.992px;
  float: right;
  top: 48px;
  background-color: #ffffff;
}

.close {
  position: absolute;
  right: 32px;
  top: 85px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 18px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #6f6e6e;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.menu__head {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin: 37px 0 15px 33px;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.menu__list:last-of-type {
  right: 0;
}

.menu__head__section {
  margin: 9px 0 12px 33px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.menu__link {
  margin: 0 0 11px 54px;
  display: block;
}

.menu__link:hover {
  color: #f16d7f;
}

.menuBoxR {
  display: flex;
  align-items: center;
}
.logoPos {
  margin-right: 41px;
  margin-left: 10px;
}

.searchPos {
}

.menuPos {
  margin-right: 33px;
}

.logInPos {
  margin-right: 33px;
}

.recPos {
  margin-right: 10px;
}

.imgFlex {
  display: flex;
  align-items: center;
}

.marginMainCont {
  margin-top: 65px;
}

.item_flex {
  display: flex;
  justify-content: space-between;
}

.item1 {
  height: 260px;
  width: 360px;
}

.itemLong {
  margin-top: 30px;
  height: 180px;
}

.content_Item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  justify-content: space-between;
}

.foot_Last {
  background: #222224;
  height: 78px;
  display: flex;
  align-items: center;
}

.First_F_F {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.foot_F_Flex {
  display: flex;
}

.foot_First {
  height: 341px;
  background-color: #222224;
  display: flex;
  align-items: center;
}

.AllRR {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.foot_Flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fs_flex_just {
  display: flex;
  justify-content: space-between;
}

.max_ph {
  display: block;
  width: 96px;
  height: 96px;
}

.fl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 97px;
}

.footer {
  margin-top: 95px;
}

.h3_Under_Photo {
  width: 359px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
  text-align: center;
}

.span_on_h3 {
  font-weight: 400;
  font-size: 18px;
}

.Subscribe_Flex {
  display: flex;
  align-items: center;
}

.button_subs_foot {
  height: 53px;
  width: 100px;
  color: #ffffff;
  background-color: #f16d7f;
  border-radius: 0 25px 25px 0;
  border: 1px solid #f16d7f;
  float: right;
}

.h3_second {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.foot_Second {
  background-image: url(backFootPhoto.jpg);
  height: 448px;
  background-repeat: no-repeat;
}

.img_Foot_Nav {
  margin-right: 5px;
}

.input_Foot {
  height: 53px;
  width: 256px;
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 25px 0 0 25px;
  padding-left: 10px;
}

.input_txt_st {
  color: #222224;
}

.span_Subs_st {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

.button_Span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.item5 {
  height: 581px;
  width: 360px;
  border: 1px solid #000;
  border-radius: 1px;
  margin-bottom: 30px;
}

.buttonProduct {
  border: 1px solid #ff6a6a;
  width: 211px;
  height: 47px;
  border-radius: 1px;
}

.button_Pos {
  display: flex;
  justify-content: center;
}

.h2Style {
  font-size: 30px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  margin-top: 96px;
}

.sizeBrand {
  height: 93px;
  width: 373px;
  right: 0;
  float: left;
}

.backGr {
  background-color: #f1e4e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pStyle {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  display: flex;
  justify-content: center;
  margin-top: 6px;
}
